<a href="https://colab.research.google.com/github/197643jsbggg/mysql-for-pride/blob/main/Untitled80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

setting indixes for series

In [23]:
series = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])
series.index = ['1','2','3','4']

In [17]:
series

1    New York
2     Chicago
3     Toronto
4      Lisbon
dtype: object

series with dictionary

In [15]:
dictionary = {'A': 10, 'B': 20, 'C': 30}
series = pd.Series(dictionary)
print(series)

A    10
B    20
C    30
dtype: int64

In [19]:
dict = {"A":[10,80], "B":[20,90], 'C': 30}

In [20]:
dict

dict

accessing series elements

In [27]:
 serie = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])
 print(serie[:4])

0    New York
1     Chicago
2     Toronto
3      Lisbon
dtype: object

In [29]:
dt_series = pd.Series([121,212,43,322])
dt_series.sort_values(ascending = True,na_position = 'last')

2     43
0    121
1    212
3    322
dtype: int64

concate series

In [32]:
class = pd.Series('lab','cab','bag')
classs = pd.Series('ds','bs','gf')
ps = class.append(classs)

SyntaxError: ignored